#jovoiskolaja{
background-color:rgb(99, 224, 218);
}
   
#maiiskola{
    background-color:rgb(223, 3, 243);
}
#tarolo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
#menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    border:2px solid rgb(255, 187, 0);
    background-color:rgb(255, 187, 0) ;
    padding:5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
}
#menu a:hover{
    color: rgb(9, 255, 0);
    background-color: azure;
    border:azure 
}